body{
    margin: 0;
}
.fake{
    display: flex;
    
  
}
#inline{
    display: inline;
    color: blue;
}
#picture{
    width: 50%;
    padding-left: 10%;

}
#diaries{
    width: 50%;
    padding-left: 5%;
}
a{
    background-image: linear-gradient(chocolate, orange);
    columns: white;
    padding: 1%;
}
.box{
    box-shadow: 10px 10px 40px gray;
    padding: 10px;
    width: 20%;
    }
    .stefan{
        padding-top: 40px;
        padding-bottom: 100px;
    }
    #stefan-heading{
        text-align: center;
        font-size: 70px;
        background-image: linear-gradient(aqua,white);
    }
    .stefan-image{
        width: 400px;
        height: 400px;
        display: flex ;
        margin-left: 100px;
    }
    #st1{
        padding: 10px;
       
    }
    #st2{
        padding: 10px;
    }
    #st3{
        padding: 10px;
    }

    .lacasa-para{
        padding-top: 100px;
        display: flex;
        background-image: url(exp-bg.png);
        background-repeat: no-repeat;
        background-position: right;
    }
    #professor{
        width: 50% ;
        padding-left: 400px;
        padding-top: 100px;
    }
    #backup-plan{
        width: 50%;
        padding-right: 100px;
    }
    #lacasa-heading{
        font-size: 60px;
        background-color: wheat;
    }
    .html-para{
        padding-top: 100px;
        display: flex;
        background-image: url(dream-bg.png);
        background-repeat: no-repeat;
    }
    #html-heading{
        width: 50%;
        padding-left: 80px;
        padding-right: 20px;
    }
   html.img{
       width: 50%;
       
   }
   span{
       display: block;
   }
   u{
       background-color: black;
       color: white;
       font-size: 50px;
   }
        
        
    
       